/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- UNIVERSAL ----------*/

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  background: #000000;
  color: #FFFFFF;
  padding: 8px;
  display: flex;
  height: 100%;
}

.root-background {
  height: 100vh;
  width: 100%;
}

.background {
  padding: 8px;
  background: #121212;
  display: flex;
  gap: 8px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

p {
  font-weight: medium;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #A5A5A5;
}


/* ---------- HEADER ----------*/

.navigation {
  padding: 32px 8px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #A5A5A5;
}

a {
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 12px;
  border-radius: 12px;
  text-decoration: none;
  color: hsl(0, 0%, 100%, 0.6);
}

a:link {
  color: hsl(0, 0%, 100%, 0.6);
  text-decoration: none;
}

a:visited {
  color: hsl(0, 0%, 100%, 0.6);
  text-decoration: none;
}

a:hover {
  background: #3E2B25;
  color: #F1764C;
}

a:active {
  background: #3E2B25;
  color: #F1764C;
}

.logo {
  width: 50px;
}

.made-by {
  color: #F1764C;
}

/* ---------- LINKS CONTAINER ----------*/

.links-background {
  background: #1E1E1E;
  padding: 32px 24px;
  border-radius: 12px;
  width: 100%;
  display: flex;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

/* ---------- PASTE LINK CONTAINER ----------*/

.paste-link-container {
  padding: 4px 4px 4px 8px;
  border: 1px solid #3B3B3B;
  border-radius: 12px;
  background-color: #252525;
}

.paste-link-container form {
  display: flex;
  justify-content: space-between;
}

.link-input{
  background-color: #252525;
  border: none;
  font-size: 16px;
}

button {
  background-color: #44312B;
  color: #F1764C;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
}

/* ---------- LINKS LIST CONTAINER ----------*/

.link-list-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.column-one {
  display: flex;
  align-items: center;
  gap: 8px
}

.column-two {
  display: flex;
  align-items: center;
  gap: 8px
}

.favicon {
  width: 48px;
  height: 48px;
}

.link-title {
  color: #FFFFFF;
}

.link-url {
  color: #FFFFFF;
  opacity: 70%;
}

.shortened-url {
  color: #FFFFFF;
  opacity: 70%;
}